<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__row">
        <div class="footer-top__col">
          <a class="logo" href="#">
            <img class="logo__img" src="img/logo.svg" alt="Billur">
            <span class="logo__slogan">- Ультрачистая вода -</span>
          </a>
        </div>
        <div class="footer-top__col">
          <div class="footer-top__phone">
            <i class="icon-phone-alt"></i>
            <div>
              <a href="tel:+998000000000">+998 00 000-00-00</a><br>
              <a href="tel:+998000000000">+998 00 000-00-00</a>
            </div>
          </div>
        </div>
        <div class="footer-top__col">
          <div class="footer-top__adres">
            <i class="icon-map-marker-alt"></i>
            <div>
              Узбекистан г. Ташкент,<br> ул. Ломоносова, д. 4, кв. 5
            </div>
          </div>
        </div>
        <div class="footer-top__col">
          <div class="footer-top__social">
            <a href="#"><i class="icon-telegram-plane"></i></a>
            <a href="#"><i class="icon-odnoklassniki"></i></a>
            <a href="#"><i class="icon-facebook"></i></a>
            <a href="#"><i class="icon-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="waves waves--top"><div></div></div>
  </div>
  
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__inner">
        <div class="footer-bottom__copyring">
          Billur &copy; 2020<br>
          <a href="https://www.elit.uz/shop.php" target="_blank">Создание интернет магазинов в Бухаре</a>
        </div>
        <div class="footer-bottom__counter">
          тут будет счетчик
        </div>
      </div>

    </div>
  </div>

</footer>

<button class="btn btn-red btn-fixorder waves-light">
  Заказать воду
  <span></span>
</button>

<script src="js/main.min.js"></script>