<header class="header header--topfixed" data-aos="fade-down">
    <div class="container">
      <div class="header__inner">
        <a class="logo" href="/">
          <img class="logo__img" src="img/logo.svg" alt="Billur">
          <span class="logo__slogan">- Ультрачистая вода -</span>
        </a>
  
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item"><a href="/page.html" class="menu__link">О компании</a></li>
            <li class="menu__item"><a href="/news.html" class="menu__link">Новости / Акции</a></li>
            <li class="menu__item"><a href="/page.html" class="menu__link">Продукция</a></li>
            <li class="menu__item"><a href="/page.html" class="menu__link">Доставка</a></li>
            <li class="menu__item"><a href="/page.html" class="menu__link">Подключиться</a></li>
            <li class="menu__item"><a href="/contacts.html" class="menu__link">Контакты</a></li>
          </ul>
        </nav>

        <div class="menu__btn"><span></span></div>
  
      </div>
    </div>

</header>

<nav class="menu-mobile">
  <ul class="menu-mobile__list">
    <li class="menu-mobile__item"><a href="/page.html" class="menu-mobile__link">О компании</a></li>
    <li class="menu-mobile__item"><a href="/news.html" class="menu-mobile__link">Новости / Акции</a></li>
    <li class="menu-mobile__item"><a href="/page.html" class="menu-mobile__link">Продукция</a></li>
    <li class="menu-mobile__item"><a href="/page.html" class="menu-mobile__link">Доставка</a></li>
    <li class="menu-mobile__item"><a href="/page.html" class="menu-mobile__link">Подключиться</a></li>
    <li class="menu-mobile__item"><a href="/contacts.html" class="menu-mobile__link">Контакты</a></li>
  </ul>
</nav>