<div class="intro" data-aos="fade-in">

  <div class="intro__slider swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide intro__item intro__item--1">
        <div class="intro__img intro__img--md" style="background-image: url(./img/intro-1-md.jpg);"></div>
        <div class="intro__img intro__img--sm" style="background-image: url(./img/intro-1-sm.jpg);"></div>
      </div>
      <div class="swiper-slide intro__item intro__item--2">
        <div class="intro__img intro__img--md" style="background-image: url(./img/intro-2-md.jpg);"></div>
        <div class="intro__img intro__img--sm" style="background-image: url(./img/intro-2-sm.jpg);"></div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next intro__next"></div>
    <div class="swiper-button-prev intro__prev"></div>
  </div>

  <div class="waves">
    <div></div>
  </div>
</div>