<div class="intro">
  <div class="intro__slider">Добро пожаловать</div>
  <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewbox="0 25 160 40" class="intro__waves">
    <defs><path id="wave" d="M-150 53c30.77 0 59.538-20 90-20 31.077 0 60.256 20 90 20 30.77 0 59.23-20 90-20 30.77 0 59.23 20 90 20v20h-360z" /></defs>
    <g>
      <use xlink:href="#wave" x="50" y="0" fill="#7986cb" />
      <use xlink:href="#wave" x="50" y="2" fill="#5c6bc0" />
      <use xlink:href="#wave" x="50" y="4" fill="#ffffff" />
    </g>
  </svg>
</div>
