<section class="post">
          
  <div class="title-header">
    <h3 class="title">Новости / Акции</h3>
    <div class="post-arrows"></div>
  </div>

  <div class="post-slider">

    <div class="post-slider__item">
      <div class="post-thumb">
        <div class="post-thumb__img">
          <a class="ripple" href="/news-page.html"><img src='https://placehold.it/400x260?text=Post%20Photo%201' alt=''/></a>
        </div>
        <div class="post-thumb__date">05 январь 2020</div>
        <div class="post-thumb__title">
          <a href="/news-page.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        </div>
      </div>
    </div>

    <div class="post-slider__item">
      <div class="post-thumb">
        <div class="post-thumb__img">
          <a class="ripple" href="/news-page.html"><img src='https://placehold.it/400x260?text=Post%20Photo%202' alt=''/></a>
        </div>
        <div class="post-thumb__date">05 январь 2020</div>
        <div class="post-thumb__title">
          <a href="/news-page.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        </div>
      </div>
    </div>
    <div class="post-slider__item">
      <div class="post-thumb">
        <div class="post-thumb__img">
          <a class="ripple" href="/news-page.html"><img src='https://placehold.it/400x260?text=Post%20Photo%203' alt=''/></a>
        </div>
        <div class="post-thumb__date">05 январь 2020</div>
        <div class="post-thumb__title">
          <a href="/news-page.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        </div>
      </div>
    </div>
    <div class="post-slider__item">
      <div class="post-thumb">
        <div class="post-thumb__img">
          <a class="ripple" href="/news-page.html"><img src='https://placehold.it/400x260?text=Post%20Photo%204' alt=''/></a>
        </div>
        <div class="post-thumb__date">05 январь 2020</div>
        <div class="post-thumb__title">
          <a href="/news-page.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        </div>
      </div>
    </div>
  </div>

</section>