<section class="post">
          
  <div class="title-header">
    <h3 class="title" data-aos="fade-right">Новости / Акции</h3>
  </div>

  <div class="post-slider swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="post-thumb" data-aos="fade-up" data-aos-delay="100">
          <div class="post-thumb__img">
            <a class="ripple" href="/news-page.html"><img src='https://placehold.it/400x260?text=Post%20Photo%201' alt=''/></a>
          </div>
          <div class="post-thumb__date">05 январь 2020</div>
          <div class="post-thumb__title">
            <a href="/news-page.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="post-thumb" data-aos="fade-up" data-aos-delay="200">
          <div class="post-thumb__img">
            <a class="ripple" href="/news-page.html"><img src='https://placehold.it/400x260?text=Post%20Photo%202' alt=''/></a>
          </div>
          <div class="post-thumb__date">05 январь 2020</div>
          <div class="post-thumb__title">
            <a href="/news-page.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="post-thumb" data-aos="fade-up" data-aos-delay="300">
          <div class="post-thumb__img">
            <a class="ripple" href="/news-page.html"><img src='https://placehold.it/400x260?text=Post%20Photo%203' alt=''/></a>
          </div>
          <div class="post-thumb__date">05 январь 2020</div>
          <div class="post-thumb__title">
            <a href="/news-page.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="post-thumb" data-aos="fade-up" data-aos-delay="400">
          <div class="post-thumb__img">
            <a class="ripple" href="/news-page.html"><img src='https://placehold.it/400x260?text=Post%20Photo%204' alt=''/></a>
          </div>
          <div class="post-thumb__date">05 январь 2020</div>
          <div class="post-thumb__title">
            <a href="/news-page.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

</section>