<div class="reviews">
  <div class="title-header">
    <h3 class="title">Что говорят наши клиенты</h3>
    <div class="reviews-arrows"></div>
  </div>

  <div class="reviews-slider">
    <div class="reviews-slider__item">
      <div class="review-thumb">
        <div class="review-thumb__name">Татьяна Петрова</div>
        <div class="review-thumb__text">Работаем с данной фирмой уже довольно давно. Никаких нареканий, одни положительные впечатления. Будем продолжать сотрудничество.</div>
      </div>
    </div>
    <div class="reviews-slider__item">
      <div class="review-thumb">
        <div class="review-thumb__name">Рустам Ибадулаев</div>
        <div class="review-thumb__text">Работаем с данной фирмой уже довольно давно. Никаких нареканий, одни положительные впечатления. Будем продолжать сотрудничество.</div>
      </div>
    </div>
    <div class="reviews-slider__item">
      <div class="review-thumb">
        <div class="review-thumb__name">Феруза Исмаилова</div>
        <div class="review-thumb__text">Работаем с данной фирмой уже довольно давно. Никаких нареканий, одни положительные впечатления. Будем продолжать сотрудничество.</div>
      </div>
    </div>
    <div class="reviews-slider__item">
      <div class="review-thumb">
        <div class="review-thumb__name">Ихтиёр Бозоров</div>
        <div class="review-thumb__text">Работаем с данной фирмой уже довольно давно. Никаких нареканий, одни положительные впечатления. Будем продолжать сотрудничество.</div>
      </div>
    </div>
  </div>

  <div class="reviews__more"><a href="/reviews.html" class="btn btn-outline-primary">Все отзывы </a></div>

</div>
