<div class="tiles">
  <div class="tiles__row">
    <div class="tiles__item tiles__item--image">
      tiles__item--image
    </div>
    <div class="tiles__item tiles__item--text">
      tiles__item--text
    </div>
  </div>
  <div class="tiles__row">
    <div class="tiles__item tiles__item--image">
      tiles__item--image
    </div>
    <div class="tiles__item tiles__item--text">
      tiles__item--text
    </div>
  </div>
  <div class="tiles__row">
    <div class="tiles__item tiles__item--image">
      tiles__item--image
    </div>
    <div class="tiles__item tiles__item--text">
      tiles__item--text
    </div>
  </div>
</div>