<div class="tiles">

  <div class="tiles__row">
    <div class="tiles__item tiles__item--image">
      <img src='https://placehold.it/700x620' alt=''/>
    </div>
    <div class="tiles__item tiles__item--text">
      <h2>Изменись к лучшему</h2>
      <p>Сделайте первый шаг навстречу здоровым привычкам!</p>
      <ul>
        <li><a href="#">Рассчитать водный балланс</a></li>
        <li><a href="#">Как начать пить воду регулярно</a></li>
      </ul>
    </div>
  </div>

  <div class="tiles__row">
    <div class="tiles__item tiles__item--image">
      <img src='https://placehold.it/700x620' alt=''/>
    </div>
    <div class="tiles__item tiles__item--text">
      <h2>Изменись к лучшему</h2>
      <p>Сделайте первый шаг навстречу здоровым привычкам!</p>
      <ul>
        <li><a href="#">Рассчитать водный балланс</a></li>
        <li><a href="#">Как начать пить воду регулярно</a></li>
      </ul>
    </div>
  </div>

  <div class="tiles__row">
    <div class="tiles__item tiles__item--image">
      <img src='https://placehold.it/700x620' alt=''/>
    </div>
    <div class="tiles__item tiles__item--text">
      <h2>Изменись к лучшему</h2>
      <p>Сделайте первый шаг навстречу здоровым привычкам!</p>
      <ul>
        <li><a href="#">Рассчитать водный балланс</a></li>
        <li><a href="#">Как начать пить воду регулярно</a></li>
      </ul>
    </div>
  </div>
</div>