<div class="tiles">

  <div class="tiles__row">
    <div class="tiles-item tiles-item--image">
      <img src='https://placehold.it/600x500' alt=''/>
    </div>
    <div class="tiles-item tiles-item--text">
      <div class="tiles-item__inner wow animate__animated animate__fadeInLeft">
        <h3 class="tiles-item__title title">Изменись к лучшему</h3>
        <p>Сделайте первый шаг навстречу здоровым привычкам!</p>
        <ul>
          <li><a href="#"><i class="icon-arrow-right"></i> Рассчитать водный балланс</a></li>
          <li><a href="#"><i class="icon-arrow-right"></i> Как начать пить воду регулярно</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="tiles__row">
    <div class="tiles-item tiles-item--image">
      <img src='https://placehold.it/600x500' alt=''/>
    </div>
    <div class="tiles-item tiles-item--text">
      <div class="tiles-item__inner wow animate__animated animate__fadeInRight">
        <h3 class="tiles-item__title title">Производство</h3>
        <p>Исключительно высокое качество воды «Billur» — результат многих факторов.</p>
        <ul>
          <li><a href="#"><i class="icon-arrow-right"></i> Откуда мы добываем воду?</a></li>
          <li><a href="#"><i class="icon-arrow-right"></i> Соответствие международным стандартам</a></li>
          <li><a href="#"><i class="icon-arrow-right"></i> Наши заводы</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="tiles__row">
    <div class="tiles-item tiles-item--image">
      <img src='https://placehold.it/600x500' alt=''/>
    </div>
    <div class="tiles-item tiles-item--text">
      <div class="tiles-item__inner wow animate__animated animate__fadeInLeft">
        <h3 class="tiles-item__title title">О компании</h3>
        <p>«Billur» — Одна из самых динамично развивающихся компаний на российском рынке бутилированной воды. В её портфель входят такие известные бренды как «Святой Источник», «Боржоми» и «Эдельвейс».</p>
        <ul class="tiles-item__list">
          <li><a href="#"><i class="icon-arrow-right"></i> Подробнее</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>