// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .tiles {
    &-item {
      font-size: 2rem;
    }
  }

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

  .tiles {

    &__row {
      flex-direction: column;
    }

    &-item {
      width: 100%;
      font-size: inherit;
      height: auto;

      &--image {
        height: 200px;
      }

      &--text {
        padding: 30px 20px;
      }

      ul {
        margin-top: 2.6rem;
        li {
          & + li {
            margin-top: 1.6rem;
          }
        }
        i {
          width: 30px;
          height: 30px;
        }
      }

    }
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}