// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

  .body__lock {
    overflow: hidden;
  }

  .intro {
    height: 650px;
    &-slider {
      &__item {
        height: 650px;
      }
    }
  }
    

  .menu {

    display: none;

    &__btn {
      display: block;
      width: 40px;
      height: 30px;
      padding: 5px;
      cursor: pointer;
      position: relative;
      z-index: 1;
      span,
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 4px;
        // background-color: $color-bluedark;
        background-color: #fff;
        border-radius: 4px;
        transition: .3s;
      }
      span {
        top: 13px;
      }
      &::after {
        top: 5px;
      }
      &::before {
        bottom: 5px;
      }
      &.active {
        span {
          opacity: 0;
        }
        &::after {
          top: 11px;
          transform: rotate(45deg);
        }
        &::before {
          bottom: 15px;
          transform: rotate(-45deg);
        }
      }
    }

  }

  .menu-mobile.active {
    top: 0;
    opacity: 1;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .tiles {
    &-item {
      font-size: 2rem;
    }
  }

  .post__col {
    flex: 0 0 50%;
    max-width: 50%;
  }

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

  .intro {
    height: 820px;
  }
  .intro__img {
    &--md {
      display: none;
    }
    &--sm {
      display: block;
    }
  }

  .review__col {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .post__col {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .tiles {

    &__row {
      flex-direction: column;
    }

    &-item {
      width: 100%;
      font-size: inherit;
      height: auto;

      &--image {
        height: 220px;
        img {
          display: none;
        }
      }

      &--text {
        padding: 30px 20px;
      }

      ul {
        margin-top: 2.6rem;
        li {
          & + li {
            margin-top: 1.6rem;
          }
        }
        a {
          &:hover {
            padding-left: 0;
          }
          &::before {
            width: 30px;
            height: 30px;
          }
        }
      }

    }
  }

  .calc {
    padding: 2rem;
    &__item {
      &-calc {
        margin-right: 2rem;
      }
    }
  }

  .contactpage-inner {
    display: block;
  }
  .contactpage-content {
    margin-right: 0;
  }

  .footer-bottom {
    &__inner {
      text-align: center;
      flex-direction: column;
    }
  }
}

@media (max-width: 619.98px) {
  .calc {
    &__item {
      &-calc {
        margin-right: 0rem;
      }
    }
    &-bottle {
      display: none;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

  .ui-tooltip {
    font-size: 1.4rem;
  }
  .calc {
    padding: 1.5rem;
    font-size: inherit;
    &-bottle {
      display: none;
    }
  }

  .footer-top {
    &__row {
      flex-direction: column;
      align-items: center;
    }
  }
}


@media (max-width: 399.98px) {
  .calc {
    &-result {
      &__label {
        font-size: 1.6rem;
      }
      &__text {
        font-size: 2rem;
      }
    }
  }
}