@import "vars";
@import "libs";
@import "fonts";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
  color: #333;
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

@import "blocks/header";
@import "blocks/logo";
@import "blocks/menu";
@import "blocks/intro";
@import "blocks/waves";