.footer {
  margin-top: 3.5rem;
}

.footer-top {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: $primary;
  position: relative;
  color: $white;
  a {
    color: rgba(255,255,255,.8);
    &:hover {
      color: rgba(255,255,255,1);
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    width: 23%;
    background-color: rgba(255,255,255,.2);
  }

}