.form-group {
  margin-bottom: 2rem;
} 

.form-control {
  display: block;
  width: 100%;
  padding: 1.2rem 1.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  appearance: none;
  background-color: lighten($primary, 58%);
  background-clip: padding-box;
  border: none;
  outline: 0;
  border-radius: 27px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} 