.intro {
  background-color: $primary;
  height: $intro-height;
  // height: calc(100vh - 84px);
  // min-height: 600px;
  position: relative;
  margin-bottom: 4rem;
  overflow: hidden;
}

.intro-slider {
  &__item {
    height: $intro-height;
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }

  &__btn {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 0;
    outline: none !important;
    background: none;
    cursor: pointer;
    svg {
      width: 40px;
      padding: 0;
      fill: #ffffff;
    }
  }
  &__prev {
    left: 20px;
  }
  &__next {
    right: 20px;
  }

  &__dots {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 30px;
    display: block;
    width: 100%;
    text-align: center;
    list-style: none;
    li {
      position: relative;
      display: inline-block;
      margin: 0 5px;
      padding: 0;
      button {
        border: none;
        display: block;
        cursor: pointer;
        width: 12px;
        height: 12px;
        outline: none;
        line-height: 0px;
        font-size: 0px;
        padding: 0;
        color: transparent;
        border-radius: 20px;
        background-color: #ffffff;
        transition: all .2s ease-in-out;
        &:hover, &:focus {
          outline: none;
        }
      }
      &.slick-active button {
        width: 25px;
        background-color: $primary;
      }
    }
  }

}