.logo {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
  position: relative;
  z-index: 1;
  &__slogan {
    margin-top: 4px;
    font-size: 1.3rem;
    line-height: 1;
    width: 100%;
    text-align: center;
  }
}