.pagination {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.page-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #0d6efd;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;

  width: 34px;
  height: 34px;
}
