.post {
  margin-bottom: 4rem;
}

.post-slider {
  margin: 0 -15px;
  &__item{
    padding: 0 15px;
  }
  .post-thumb {
    margin-bottom: 0;
  }
  a {
    outline: none;
  }
}

.post-arrows {
  // margin-bottom: 15px;
  button {
    border: none;
    padding: 0;
    outline: none !important;
    background: none;
    cursor: pointer;
    margin: 0 5px;
    font-size: 4rem;
    line-height: 0;
  }
}

.post__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.post__col {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.post-thumb {
  margin-bottom: 30px;

  &:hover {
    .post-thumb__img {
      img {
        transform: scale(1.2);
      }
    }
  }
  &__img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 220px;
    a {
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }

  &__date {
    margin-top: 10px;
    font-size: 1.4rem;
  }

  &__title {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 700;
  }
}


@media (max-width: 991.98px) {
  .post__col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 767.98px) {
  .post__col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}