.tiles {

  &__row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -15px;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

  }
  
  &-item {
    width: 50%;
    position: relative;
    overflow: hidden;
    background-color: $primary;
    color: $white;
    font-size: 2rem;
    height: 480px;
    &--image {
      background-position: center;
      background-size: cover;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s;
      }
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
    &--text {
      padding: 5% 6%;
      &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 324px;
        height: 152px;
        background: transparent url(/img/water-1.png) 0 0 no-repeat;
      }
    }
    &__inner {
      position: relative;
    }
    &__title {
      color: $white;
      background-image: url(/img/title-white.png);
    }
    ul {
      margin-top: 3.6rem;
      margin-bottom: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0;
        & + li {
          margin-top: 2.6rem;
        }
      }
      a {
        display: flex;
        align-items: center;
        color: $white;
        transition: padding-left .3s ease-in-out;
        line-height: 1.2;
        &:hover {
          padding-left: 10px;
        }
        &::before {
          font-family: icomoon!important;
          content: '\e901';
          width: 40px;
          height: 40px;
          background-color: #fff;
          border-radius: 50%;
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $primary;
          line-height: 1;
          flex-shrink: 0;
        }
      }
    }
  }

}